:root {
    /* LIGHT MODE */
    --bg-page: #121212;
    --bg-content: #ffffff;
    --bg-navbar: #3b82f6;
    --bg-table-header: #f0f0f0;
    --bg-card: #ffffff;
    --text-main: #1e293b;
    --text-muted: #555555;
    --border-color: #cccccc;
    --input-bg: #ffffff;
    --modal-overlay: rgba(0, 0, 0, 0.5);
    --accent-blue: #0004ff;
    --accent-green: #28a745;
    --accent-red: #ff7777;
    --dragdrop-background: #acc9ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* DARK MODE */
        --bg-page: #0f172a;
        --bg-content: rgb(30 41 59 / var(--tw-bg-opacity, 1));
        --bg-navbar: #0f172acc;
        --bg-table-header: ;
        --bg-card: ;
        --text-main: rgb(255 255 255 / var(--tw-text-opacity, 1));
        --text-muted: ;
        --border-color: rgb(51 65 85 / var(--tw-border-opacity, 1));
        --input-bg: var(--bg-content);
        --modal-overlay: ;
        --accent-blue: rgb(59 130 246 / var(--tw-bg-opacity, 1));
        --dragdrop-background: ;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 
}

.content {
    padding: 20px 30px;
}

.std-input {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--input-bg);
    color: var(--text-main);
    font-size: 14px;
    outline: none;
}

.role-select {
    composes: std-input;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--input-bg);
    color: var(--text-main);
    font-size: 14px;
    outline: none;
    cursor: pointer;
}


.sq-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.normal-btn {
    padding: 6px 14px;
    width: 100px;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}


.btn-blue {
    background: var(--accent-blue);
}

.btn-green {
    background: var(--accent-green);
}

.btn-red {
    background: var(--accent-red);
}

table {
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

th,
td {
    padding: 8px 12px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    height: 45px;
    vertical-align: middle;
    background-color: var(--bg-content);
    color: var(--text-main);
}

th:last-child,
td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

thead {
    background-color: var(--bg-table-header);
    font-weight: bold;
}

.password-cell {
    font-family: monospace;
}

.action-cell {
    text-align: center;
    white-space: nowrap !important;
}

.action-cell>* {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

.del-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
}

.del-icon:hover {
    color: red;
    transform: scale(1.3) rotate(-15deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-overlay);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: var(--bg-card);
    color: var(--text-main);
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
}